<div class="panel">
  <div class="panel-heading">
    <span class="panel-title">Item manager</span>
  </div>

  <div class="panel-body">
    <form class="form-inline" action="/event/{{event_id}}/wish/{{item_id|default:''}}" method="POST">
      {% csrf_token %}
      <div class="form-group {% if form.link.errors %}has-error{% endif %}">
        <input id="id_link" class="form-control input" placeholder="Paste link" value="{{form.link.value|default_if_none:''}}" name="link" type="text">
      </div>
      <input type="submit" class="btn btn-info" value="{%if item_id %} Modify {%else%} Add new {%endif%} item" />
    </form>
  </div>
</div>
