	<div id="hero-masonry">
        {% for item in items %}
		<div class="hero-item has-example is-hidden">
			<a href="#">
            <img src="{{ item.open_graph.image }}" />
			<p class="example-title">
				{{ item.open_graph.title }}

      </p>
           </a>
      </div>
      {% endfor %}
		</div>
<script type="text/javascript" src="http://81.81.81.5/static/javascripts/masonry.pkgd.min.js"></script>
<script type="text/javascript">
var container = document.querySelector('#hero-masonry');
var msnry = new Masonry( container, {
  // options
  columnWidth: 100,
  itemSelector: '.hero-item has-example is-hidden'
});
</script>
